body{
    transition: margin-right 0.3s;
}

.sidebar-toggle {
    position: fixed;
    top: 20px;
    right: 0px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1000;
    background: var(--bg-side);
    color: white;
    border: none;
    border-top-left-radius:5px ;
    border-bottom-left-radius: 5px;
    width: 25px;
    height: 40px;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s, right 0.3s;
}

.sidebar {
    height: 100%;
    width: 430px;
    position: fixed;
    top: 0;
    right: -430px;
    background-color: var(--bg-side);
    overflow-x: hidden;
    transition: 0.3s;
    padding: 20px;
    box-sizing: border-box;
    color: white;
    z-index: 999;
    box-shadow: -2px 0 5px rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
}

.sidebar.open {
    right: 0;
}
.sidebar.open ~ .sidebar-toggle{
    right: 430px;
}
.sidebar.open ~ .sidebar-toggle i{
    transform: rotate(180deg);
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-box{
    background-color: #858585ad;
    padding:5px 10px;
    box-sizing: border-box;
    border-radius:20px;
    width:85%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.search-box i{
    cursor:pointer
}
input#search{
    height:20px;
    border:none;
    width:90%;
    background-color: transparent;
    color:var(--font-white);
}
input:focus-visible{
    outline: none;
}
.forecast-section{
    display:flex;
    flex-direction: column;
    gap:5px;
}
.forecast-section h3{
    border-bottom: var(--border-bottom-line);
    margin-top:10px;
    font-weight: 500;
    line-height: 30px;
}
.forecast-section span i {
    font-size:1rem
}

/* Sidebar infos ------- */

.forecast-day{
    display:flex;
    gap:10px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.forecast-day span{
    display:flex;
    align-items: center;
    gap:10px;
}
.forecast-day span:nth-child(2){
    margin-left:40px;
}
.day-period{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
}
.day-info{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}
.day-period, 
.day-info{
    gap:10px;
    margin:5px 0;
}
.day-period span,
.day-info span{
    background: var(--bg-side);
    padding:10px 18px;
    border-radius:20px;
    text-align: center;
}
.day-period span i,
.day-info span i{
    margin-top:5px;
}
.day-info span i{
    font-size:1.5rem;
}
.day-info span{
    padding:10px 30px;
}
.day-info span p{
    font-size: .8rem;
}

/* Responsive ------------------- */

@media(max-width:710px){
    .sidebar {
        width:350px;
        right: -350px;
    }
    .sidebar.open ~ .sidebar-toggle{
        right:350px;
    }

}